<div id="landing-container">
	<div id="landing-box">
		<h1>Weatherman</h1>
		<h2>Find Weather For:</h2>
		<form id="landing-form" ng-submit="goToHome(city, country)">
	      	<input class="form-control" type="text" ng-model="city" placeholder="City" />
			<select class="form-control" id="country-drop" ng-model="country">
	        	<option selected>--Select Country--</option>
	       		<option ng-repeat="country in countries">{{country.name}}</option>
	      	</select>
	      	<button type="submit" class="btn btn-default">Get Weather</button>
		</form>
		<h4 ng-show="loading">Loading</h4>
	</div>
</div>
