<nav class="navbar navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <img src="favicon.ico" class="pull-left img-responsive logo">
      <a href="#" ui-sref="home" class="navbar-brand">Weatherman</a>
    </div>
    <form class="navbar-form navbar-right" ng-submit="getWeather(city, country)">
      <input class="form-control" type="text" placeholder="City" ng-model="city" />
      <select id="country-drop" class="form-control" ng-model="country">
        <option selected>--Select Country--</option>
        <option ng-repeat="country in countries">{{country.name}}</option>
      </select>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</nav>