#home {

}

#headline {
	h1 {
		text-align: right;
	}
}

#header-row {
	margin-right: 0px;
	margin-left: 0px;
}

#forecast {
	border: 1px black solid;
	padding-right: -15px;
}

.header-cell {
	border: 2px black solid;
	padding: 0;
	.header-button {
		width: 100%;
		a {
			color: black;

		}
	}
}

#table {
	padding-right: 0px;
	padding-left: 0px;
}

.day {
	width: 100%;
	margin: 6px 0px 0px 0px;
	padding-bottom: 6px;
	border-bottom: 1px green solid;
	div {
		text-align: center;
	}
}

.day:last-of-type {
	border: 0px
}

