<navbar></navbar>
<section id="home" class="container">
	<div id="headline">
		<h2>Weather Forecast for {{weather.originalCity | capitalize}} ({{weather.city}}), {{weather.country}}</h1>
	</div>
	<div id="table" class="container">
		<div class="row btn-group btn-group-justified" role="group" id="header-row">
			<div class="col-md-4 col-lg-4 header-cell">
				<div class="btn header-button" ng-click="changeSort('index')">
					<a href="">Date</a>
				</div>
			</div>
			<div class="col-md-2 col-lg-2 header-cell">
				<div class="btn header-button" ng-click="changeSort('morn')">
					<a href="">Morning</a>
				</div>
			</div>
			<div class="col-md-2 col-lg-2 header-cell">
				<div class="btn header-button" ng-click="changeSort('noon')">
					<a href="">Daytime</a>
				</div>
			</div>
			<div class="col-md-2 col-lg-2 header-cell">
				<div class="btn header-button" ng-click="changeSort('eve')">
					<a href="">Evening</a>
				</div>
			</div>
			<div class="col-md-2 col-lg-2 header-cell">
				<div class="btn header-button" ng-click="changeSort('night')">
					<a href="">Night</a>
				</div>
			</div>
		</div>
		<div id="forecast">
			<div class="day row" ng-repeat="day in weather.list | orderBy: sortBy:reverse">
				<div class="col-md-4 col-lg-4">
					{{day.day}}, {{day.month}} {{day.date}}
				</div>
				<div class="col-md-2 col-lg-2">
					{{day.morn | round}}
				</div>
				<div class="col-md-2 col-lg-2">
					{{day.noon | round}}
				</div>
				<div class="col-md-2 col-lg-2">
					{{day.eve | round}}
				</div>
				<div class="col-md-2 col-lg-2">
					{{day.night | round}}
				</div>
			</div>
		</div>
	</div>
</section>